@mixin montserrat-400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

@mixin montserrat-600 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

@mixin montserrat-700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

$headerBg: #50627E;
$footerBg: #1E4776;
$footerTextCol: #7E9EC9;

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  height: 100%;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  color: #fff;
  @include montserrat-400;
  font-size: 16px;
  line-height: 18px;
  height: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  bottom: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

.container {
  max-width: 1140px;
  padding: 0 15px;
  margin: 0 auto;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 1 auto;
}

.title {
  @include montserrat-700;
  font-size: 46px;
  line-height: 60px;
  text-align: center;
  color: #000000;
}

.btn {
  display: inline-block;
  @include montserrat-700;
  text-transform: uppercase;
  border-radius: 50px;
  transition: all ease .5s;
  border: none;
}

.lock {
  overflow-x: hidden;
  overflow-y: hidden;
}

.header {
  @include montserrat-700;
  position: relative;
  min-height: 100vh;
  text-align: center;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__title {
    font-size: 56px;
    line-height: 73px;
    margin-bottom: 25px;
  }

  &__suptitle {
    max-width: 400px;
    line-height: 24px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    text-align: center;
  }

  &__arrow {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 48px;
    animation-name: arrowDown;
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
  }
}

.portfolio {
  @include montserrat-600;
  color: #000000;
  padding: 80px 0 115px;

  &__title {
    padding-bottom: 70px;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    &__item {
      width: 100%;
      max-width: 540px;
      margin-bottom: 30px;
      position: relative;
      transition: all .5s ease;
      box-shadow: 0px 10px 40px rgba(126, 155, 189, 0.35);
      background-color: #fff;
      height: 370px;

      &:nth-last-child(1),
      &:nth-last-child(2) {
        margin-bottom: 0;
      }

      @media (min-width: 768px) {
        &:hover {
          transform: translateY(-15px);
        }
      }
    }

    &__link {
      display: block;
      padding: 20px 20px 30px;
    }

    &__img {
      margin-bottom: 20px;
      width: 100%;
      object-fit: cover;
      display: block;
      height: 240px;
    }

    &__title {
      font-size: 24px;
      line-height: 31px;
      margin-bottom: 13px;
    }
  }
}

.project {
  color: #000;
  text-align: center;
  padding: 80px 120px;

  &__title {
    padding: 0px 0 40px;
    font-size: 28px;
  }

  &__img {
    margin-bottom: 70px;
    max-width: 100%;
    object-fit: cover;
  }

  &__desc {
    @include montserrat-400;
    line-height: 24px;
    max-width: 730px;
    margin: 0 auto 60px;

    span {
      display: block;
      margin-top: 15px;
    }

    a {
      color: #275BEC;
    }
  }

  &__btn {
    padding: 20px 30px;
    border: 3px solid #275BEC;
    color: #275BEC;

    @media (min-width: 768px) {
      &:hover {
        background-color: #275BEC;
        color: #fff;
      }
    }
  }
}

.footer {
  padding: 50px 0 50px;
  background-color: $footerBg;

  &__copy,
  &__social,
  &__feedback {
    max-width: 350px;
    flex-grow: 1;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
  }

  &__copy-title {
    @include montserrat-700;
    font-size: 28px;
    color: $footerTextCol;

    span {
      display: inline-block;
      @include montserrat-600;
      font-size: 16px;
      line-height: 36px;
      margin-top: 15px;
    }
  }

  &__social>p+p {
    margin-bottom: 15px;
  }

  &__social-text {
    @include montserrat-600;
  }

  &__social-icons {
    display: flex;

    align-items: center;

    &>*+* {
      margin-left: 30px;
    }
  }

  &__social-icon {
    transition: all .5s ease;

    @media (min-width: 768px) {
      &:hover {
        transform: scale(1.25);
      }
    }
  }

  &__feedback>p {
    margin-top: 15px;
  }

  &__feedback-links {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }

  &__feedback-button {
    padding: 12px 30px 8px;
    border: 3px solid #FFFFFF;

    &:hover {
      background-color: #fff;
      color: #1E4776;
    }
  }

  &__feedback-link {
    margin-left: 15px;

    svg {
      transition: all .5s ease;
      border-radius: 50%;
      display: block;
    }

    @media (min-width: 768px) {
      svg:hover {
        transform: scale(1.25);
        background-color: #1E4776;
      }
    }
  }

  .teleg {
    path {
      &:nth-child(1) {
        fill: #fff;
      }
    }
  }

  .git {
    path {
      &:nth-child(1) {
        fill: #fff;
      }

      &:nth-child(2) {
        fill: #fff;
      }
    }
  }

  &__feedback-text {
    font-size: 15px;
    color: $footerTextCol;
    text-align: right;
  }
}

@keyframes arrowDown {
  100% {
    transform: translateY(15px);
  }

  50% {
    transform: translateY(0px);
    ;
  }

  0% {
    transform: translateY(15px);
  }
}

@import "media";